{% extends 'layouts/base.html.twig' %}

{% block title 'Bienvenue sur Panterest' %}

{% block body %}

	{% if pins|length > 0 %}

		{# length methode pour donner le nombre de pins #}
		<h1 class="mb-4 text-center text-info">
			{{ pluralize(pins|length, 'pin' )}}
		</h1>

		{% for row in pins|batch(3) %}
			<div class="row mb-5">
				{% for pin in row %}
					<div class="col-md-4">
						<article class="pin bg-white rounded shadow-lg">
							<div class="mw-100 rounded-top overflow-hidden">

								<a href="{{ path('app_pins_show', {id: pin.id}) }}">
									<img class="w-100 " src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/default.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}"/>

								</a>
							</div>
							<h2 class="pl-3 pt-3 text-muted ">
								<a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-muted text-decoration-none text-secondary">
									{{ pin.title | slice(0, 20) }}
								</a>

							</h2>
							{# <p class="text-justify">{{ pin.description | striptags | slice(0, 30) | raw}}
																																										...</p> #}
							<p class="pl-3 text-muted">
								<small>
									Pin crée par
									{{ pin.user.fullName }}
									le
									{{ pin.createdAt|date('Y-m-d à H:i:s')}}
								</small>
							</p>
						</article>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		{{ knp_pagination_render(pins) }}


	{% else %}
		<p class="h1 text-center ">
			Il n'y a aucun pin à afficher!
			<a href="{{ path('app_pins_create') }}">
				Soyez le premier à créer un pin!
			</a>
		</p>


	{% endif %}


{% endblock %}
